extends layout

block content
  .certificate
    .container
      .title= certificate.title
      form.certificate-info(method="POST" action="https://turandotpalace.server.paykeeper.ru/create/")
        .certificate-wrap
          img.certificate-img(src=certificate.src, alt="")
          .certificate-item!= certificate.content
        .active
          label.label(for="sum") СУММА ОПЛАТЫ
          input#sum.write(
            name="sum"
            placeholder="Введите сумму",
            required,
            type="number",
            min="10000",
            max="100000"
          )
          input(
            value="21357"
            name="clientid"
            hidden
          )
        fieldset.contact-form
          legend.form-title Контактные данные
          .form-info Для совершения корректного платежа, укажите свои контактные данные. Необходимо заполнить все поля!
          //- input(name="user_result_callback" value="https://krasnoevino.ga/success")
          .form-wrap
            .form
              label.label(for="name") ИМЯ *
              input#name.write(required, type="text", name="name")
            .form
              label.label(for="lastName") ФАМИЛИЯ *
              input#lastName.write(required, type="text", name="lastName")
            .form
              label.label(for="phone") ТЕЛЕФОН *
              input#phone.write(
                required,
                type="number",
                name="client_phone",
                placeholder="89850000000"
              )
            .form
              label.label(for="email") EMAIL *
              input#email.write(
                required,
                type="email",
                name="client_email"
              )
        .btn.btn-form 
          <input type='submit' value='Продолжить оформление' />
          //- button.btn.btn-form Продолжить оформление
        .agreement.
          Нажимая кнопку «Продолжить оформление», Вы принимаете условия #[a.link(href="https://turandot-palace.ru/soglashenie/polzovatelskoe-soglashenie-17-11-15.pdf") пользовательского соглашения]
        .currency
          img(src="/public/images/logo-pay.png" alt="")