extends layout

block content
  .message
    .message-header
      img(
        src="/public/images/message-header.png",
        alt=""
      )
    .message-info
      .message-content
        .message-title 23 февраля в Maison Dellos!
        .message-subtitle 23 февраля в «Бочке»: съешь, сколько сможешь
        p.message-subinfo.
          «Бочка» приглашает всех мужчин провести 23 февраля со вкусом: вас ждут «Выходные на гриле»! Большое количество мясных блюд ресторан подает по принципу бразильского родизио – без ограничения и за фиксированную стоимость в 2590 рублей. Сидя за столом у огромного мангала, можно наблюдать за тем, как шеф Игорь Бедняков готовит «Стейк мясника», говяжьи ребра, корейку и язык ягненка, куриные крылья в остром соусе, шашлык и буженину в соусе BBQ.
        p.message-subinfo.
          Специальное предложение доступно как в праздничный день, #[br] так и каждые выходные с 13.00 до 18.00.
      .message-main
        img.message-main__icon(
          src="/public/images/message-main.png",
          alt=""
        )
      .message-footer
        img(
          src="/public/images/message-footer.png",
          alt=""
        )
    .message-footer__link.
      Вы получили это письмо, потому что выразили свое согласие получать сообщения от "Maison Dellos". #[br] Если Вы хотите отказаться от получения писем, нажмите #[a(href="https://sendsay.ru/backend/member/unsub/1RkGdj5AeI78rIYprYLYUM_5k7lAJpMcfUBbU-uM38G2aKQVe89fyW3qA7WTEwVXsXeYIn5kYDw") здесь]